---
date: {{ release_date }}
categories:
  - Release
  - {{ repo_display_name }}
authors:
  - dataenginex
---

# {{ repo_display_name }} {{ version }} Released

{{ changelog_body }}

<!-- more -->

[Full release notes]({{ release_url }})
